ignite==1.1.0
pytorch-ignite==0.4.7
jams==0.3.4
librosa==0.10.0
matplotlib==3.8.2
numpy==1.23.5
numba==0.56.4
pandas==2.2.3
pretty_midi==0.2.9
PyYAML==6.0
pytorch-lightning==1.5.10
scikit_learn==1.7.2
scipy==1.11.3
seaborn==0.13.2
SoundFile==0.12.1
sox==1.4.1
tensorboardX==2.6.5
torch==1.13.1
torch_lr_finder==0.2.1
torch-optimizer==0.3.0
tqdm==4.65.0

# Optional / dependency packages for the current setup
# torchmetrics==1.5.2
# torch-ranger==0.1.1
